:root{
    --b1: #3CA6A6;
    --b2: #026773;
    --b3: #024959;
    --b4: #012E40;
    --offwhite: #F2E3D5; 

}
html,body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
.grid-row{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(5vh,auto);
    gap: 16px;
    margin: 0vh 2vw;
    margin-left: 7vw;
}

/* Width of items in grid row */

.col-1 { grid-column: span 1;}
.col-2 { grid-column: span 2;}
.col-3{ grid-column: span 3;}
.col-4 { grid-column: span 4;}
.col-5 { grid-column: span 5;}
.col-6 { grid-column: span 6;}
.col-7 { grid-column: span 7;}
.col-8 { grid-column: span 8;}
.col-9 { grid-column: span 9;}
.col-10 { grid-column: span 10;}
.col-11 { grid-column: span 11;}
.col-12 { grid-column: span 12;}

/* Padding Classes */
.p0{ padding: 0;}
.p1{ padding: 1vw;}
.p2{ padding: 2vw;}
.p3{ padding: 3vw;}
.p4{ padding: 4vw;}
.p5{ padding: 5vw;}
.p6{ padding: 6vw;}

.pt0{ padding-top: 0vw;}
.pt1{ padding-top: 1vw;}
.pt2{ padding-top: 2vw;}
.pt3{ padding-top: 3vw;}
.pt4{ padding-top: 4vw;}
.pt5{ padding-top: 5vw;}
.pt6{ padding-top: 6vw;}

.pl1{ padding-left: 1vw;}
.pl2{ padding-left: 2vw;}
.pl3{ padding-left: 3vw;}
.pl4{ padding-left: 4vw;}
.pl5{ padding-left: 5vw;}
.pl6{ padding-left: 6vw;}

.pr1{ padding-right: 1vw;}
.pr2{ padding-right: 2vw;}
.pr3{ padding-right: 3vw;}
.pr4{ padding-right: 4vw;}
.pr5{ padding-right: 5vw;}
.pr6{ padding-right: 6vw;}

.pb1{ padding-bottom: 1vw;}
.pb2{ padding-bottom: 2vw;}
.pb3{ padding-bottom: 3vw;}
.pb4{ padding-bottom: 4vw;}
.pb5{ padding-bottom: 5vw;}
.pb6{ padding-bottom: 6vw;}

/* Margins */

.m0{ margin: 0;}
.m1{ margin: 1vw;}
.m2{ margin: 2vw;}
.m3{ margin: 3vw;}
.m4{ margin: 4vw;}
.m5{ margin: 5vw;}
.m6{ margin: 6vw;}

.mt0{ margin-top: 0vw;}
.mt1{ margin-top: 1vw;}
.mt2{ margin-top: 2vw;}
.mt3{ margin-top: 3vw;}
.mt4{ margin-top: 4vw;}
.mt5{ margin-top: 5vw;}
.mt6{ margin-top: 6vw;}

.ml1{ margin-left: 1vw;}
.ml2{ margin-left: 2vw;}
.ml3{ margin-left: 3vw;}
.ml4{ margin-left: 4vw;}
.ml5{ margin-left: 5vw;}
.ml6{ margin-left: 6vw;}

.mr1{ margin-right: 1vw;}
.mr2{ margin-right: 2vw;}
.mr3{ margin-right: 3vw;}
.mr4{ margin-right: 4vw;}
.mr5{ margin-right: 5vw;}
.mr6{ margin-right: 6vw;}

.mb1{ margin-bottom: 1vw;}
.mb2{ margin-bottom: 2vw;}
.mb3{ margin-bottom: 3vw;}
.mb4{ margin-bottom: 4vw;}
.mb5{ margin-bottom: 5vw;}
.mb6{ margin-bottom: 6vw;}

.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}

.justify{
    text-align: justify;
}

.navbar{
    display:flex;
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin-top: 0%;
    padding: 1vw;
    border: none;
    background-color: white;
    font-size: 1vw;
  }

li a{
    text-decoration: none;
    color: var(--b3);
    padding-left: 2%;
}

li a:hover{
    color: var(--b1);
}

section{
    width: 100%;
}

h1{
    font-size: 3vw;
    color: var(--b4);
}

h2{
    color: var(--b2);
}
.photo{
    width: 800px;
    height: 250px;
}

.inflex{
    display: inline-block;
}

a{
    text-decoration: none;
    color: var(--b1);
}

a:hover{
    color: var(--b2);
    cursor: pointer;
}

footer{
    background-color: var(--b4);
    color: var(--offwhite);
    text-align: center;
    padding: 2vw;
}

.button{
    background-color: var(--b4);
    border-radius: 30px;
    padding: 1vw;
    color: var(--offwhite);
    font-weight: 600;
}

.button:hover{
    cursor: pointer;
    color: white;
}

.w400{
    width: 400px;
}

.w500{
    width: 500px;
}

.w800{
    width: 800px;
}

.h300{
    height: 300px;
}

.h325{
    height: 325px;
}

.h400{
    height: 400px;
}

.icons{
    width: 150px;
}

