:root{
    --b1: #3CA6A6;
    --b2: #026773;
    --b3: #024959;
    --b4: #012E40;
    --offwhite: #F2E3D5; 

}

.slider{
    width: 700px;
    max-width: 100vw;
    height: 500px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 700px;
    /* max-width: 100vw; */
    height: 500px;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--b1);
    color: black;
    border: none;
    /* font-family: monospace; */
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: var(--b1);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: var(--b1);
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
    background-color: var(--offwhite);
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}